<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Ekka - Admin Dashboard eCommerce HTML Template.">

    <title>Ekka - Admin Dashboard eCommerce HTML Template.</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;family=Poppins:wght@300;400;500;600;700;800;900&amp;family=Roboto:wght@400;500;700;900&amp;display=swap" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet">

    <!-- PLUGINS CSS STYLE -->
    <link href="{% static 'assets/plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/simplebar/simplebar.css' %}" rel="stylesheet" />

    <!-- Ekka CSS -->
    <link id="ekka-css" href="{% static 'assets/css/ekka.css' %}" rel="stylesheet" />

    <!-- FAVICON -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="shortcut icon" />

</head>
<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-light ec-header-light" id="body">
	<!--  WRAPPER  -->

	<div class="wrapper">
        {% include 'adminmain/leftsidebar.html' %}

        <div class="ec-page-wrapper">
            {% include 'adminmain/header.html' %}


            {% block content %}

            {% endblock %}
    
            {% include 'adminmain/footer.html' %}
        </div>

    </div>
    <!-- End .page-wrapper -->



        {% include 'adminmain/javascript.html' %}


</body>       
</html>
