{% extends 'main/base.html' %} 

{% block content %}
    <main class="main shop">
      <div class="container">
          <section>
              <div class="row category-banner-container grid pt-0 pb-0">
                  <div class="grid-item col-lg-6 height-x1 mb-2 mb-lg-0">
                      <div class="home-banner pb-0 mb-2 mb-lg-0">
                          <figure style="background: #f0f5f9;">
                              <img src="assets/images/demoes/demo29/banners/home-banner1.jpg" width="813" height="315" alt="banner" />
                          </figure>
                          <div class="banner-content content-right">
                              <h3 class="ls-10"><strong>black<br></strong>Armchairs</h3>
                              <p class="font2">starting from $399</p>
                              <a href="{% url 'category' %}" class="btn">shop now <i
                                      class="fas fa-long-arrow-alt-right"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="grid-item col-lg-6 height-x1">
                      <div class="row">
                          <div class="col-6 col-lg-5">
                              <div class="home-banner pb-0 mb-2 mb-lg-0">
                                  <figure style="background-color: #222529;">
                                      <img src="assets/images/demoes/demo29/banners/home-banner3.jpg" width="313" height="315" alt="banner" />
                                  </figure>
                                  <div class="banner-content content-top">
                                      <span class="font2">check new arrivals</span>
                                      <h4><strong>cool lamps</strong></h4>
                                  </div>
                              </div>
                          </div>
                          <div class="col-6 col-lg-7">
                              <div class="home-banner pb-0 mb-2 mb-lg-0">
                                  <figure style="background: #606da6;">
                                      <img src="assets/images/demoes/demo29/banners/home-banner4.jpg" width="499" height="315" alt="banner" />
                                  </figure>
                                  <div class="banner-content content-bottom">
                                      <span class="font2">exclusive new collection</span>
                                      <h4><strong>luxurious jacuzzi</strong></h4>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-1 grid-col-sizer"></div>
              </div>
          </section>

            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    {% if main_category %}
                        <li class="breadcrumb-item">
                            <a href="{% url 'category' main_category.slug %}">{{ main_category.title }}</a>
                        </li>
                    {% endif %}
                    {% if category %}
                        <li class="breadcrumb-item">
                            <a href="{% url 'category' main_category.slug category.slug %}">{{ category.title }}</a>
                        </li>
                    {% endif %}
                    {% if sub_category %}
                        <li class="breadcrumb-item active" aria-current="page">{{ sub_category.title }}</li>
                    {% endif %}
                </ol>
            </nav>
            
            
        
            

          <div class="row main-content-wrapper mb-2 pb-2">
              <div class="col-lg-9">
                  <nav class="toolbox sticky-header" data-sticky-options="{'mobile': true}">
                      <div class="toolbox-left">
                          <a href="#" class="sidebar-toggle"><svg data-name="Layer 3" id="Layer_3"
                                  viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                  <line x1="15" x2="26" y1="9" y2="9" class="cls-1"></line>
                                  <line x1="6" x2="9" y1="9" y2="9" class="cls-1"></line>
                                  <line x1="23" x2="26" y1="16" y2="16" class="cls-1"></line>
                                  <line x1="6" x2="17" y1="16" y2="16" class="cls-1"></line>
                                  <line x1="17" x2="26" y1="23" y2="23" class="cls-1"></line>
                                  <line x1="6" x2="11" y1="23" y2="23" class="cls-1"></line>
                                  <path
                                      d="M14.5,8.92A2.6,2.6,0,0,1,12,11.5,2.6,2.6,0,0,1,9.5,8.92a2.5,2.5,0,0,1,5,0Z"
                                      class="cls-2"></path>
                                  <path d="M22.5,15.92a2.5,2.5,0,1,1-5,0,2.5,2.5,0,0,1,5,0Z" class="cls-2"></path>
                                  <path d="M21,16a1,1,0,1,1-2,0,1,1,0,0,1,2,0Z" class="cls-3"></path>
                                  <path
                                      d="M16.5,22.92A2.6,2.6,0,0,1,14,25.5a2.6,2.6,0,0,1-2.5-2.58,2.5,2.5,0,0,1,5,0Z"
                                      class="cls-2"></path>
                              </svg>
                              <span>Filter</span>
                          </a>

                          <div class="toolbox-item toolbox-sort">
                              <label>Sort By:</label>
                                    <!-- ესეც სორტი -->
                              <div class="select-custom">
                                  <select name="orderby" class="form-control">
                                      <option value="menu_order" selected="selected">Default sorting</option>
                                      <option value="popularity">Sort by popularity</option>
                                      <option value="rating">Sort by average rating</option>
                                      <option value="date">Sort by newness</option>
                                      <option value="price">Sort by price: low to high</option>
                                      <option value="price-desc">Sort by price: high to low</option>
                                  </select>
                              </div>
                              <!-- End .select-custom -->


                          </div>
                          <!-- End .toolbox-item -->
                      </div>
                      <!-- End .toolbox-left -->

                      <div class="toolbox-right">
                          <div class="toolbox-item toolbox-show">
                              <label>Show:</label>
                                <!-- ესეც ანალოგიურად -->
                              <div class="select-custom">
                                  <select name="count" class="form-control">
                                      <option value="12">12</option>
                                      <option value="24">24</option>
                                      <option value="36">36</option>
                                  </select>
                              </div>
                              <!-- End .select-custom -->
                          </div>
                          <!-- End .toolbox-item -->
                             <!-- აქ გასაკეთებელია კატეგორიაში პროდუქტების ჩამონათვალი -->
                          <div class="toolbox-item layout-modes">
                              <a href="category.html" class="layout-btn btn-grid active" title="Grid">
                                  <i class="icon-mode-grid"></i>
                              </a>
                              <a href="category-list.html" class="layout-btn btn-list" title="List">
                                  <i class="icon-mode-list"></i>
                              </a>
                          </div>
                          <!-- End .layout-modes -->
                      </div>
                      <!-- End .toolbox-right -->
                  </nav>

                  <div class="row products-body">
                    {% for product in products %}
                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product-default inner-quickview left-details inner-icon">
                            <figure>
                                <a href="{% url 'detail' product.slug product.sku %}">
                                    <img src="{{ product.image.url }}" width="257" height="257" alt="Product" />
                                </a>
                                <div class="btn-icon-group">
                                    <a href="#" class="btn-icon btn-add-cart product-type-simple">
                                        <i class="icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <a href="{% url 'product_quick_view' slug=product.slug sku=product.sku %}" class="btn-quickview" title="Quick View">Quick View</a>
                            </figure>
                            <div class="product-details">
                                <div class="category-wrap">
                                    <div class="category-list">
                                        <a href="{% url 'category' product.sub_category.category.main_category.slug product.sub_category.category.slug product.sub_category.slug %}" class="product-category">{{ product.sub_category.title }}</a>
                                    </div>
                                    <a href="wishlist.html" title="Wishlist" class="btn-icon-wish">
                                        <i class="icon-heart"></i>
                                    </a>
                                </div>
                                <h3 class="product-title">
                                    <a href="{% url 'detail' product.slug product.sku %}">{{ product.name }}</a>
                                </h3>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width: {{ product.rating }}%"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                </div>
                                <div class="price-box">
                                    <span class="product-price">${{ product.price }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                    
                    
                

                  <nav class="toolbox toolbox-pagination font2">
                      <div class="toolbox-item toolbox-show">
                          <label>Show:</label>

                          <div class="select-custom">
                              <select name="count" class="form-control">
                                  <option value="12">12</option>
                                  <option value="24">24</option>
                                  <option value="36">36</option>
                              </select>
                          </div>
                          <!-- End .select-custom -->
                      </div>
                      <!-- End .toolbox-item -->

                      <ul class="pagination toolbox-item">
                          <li class="page-item disabled">
                              <a class="page-link page-link-btn" href="#"><i class="icon-angle-left"></i></a>
                          </li>
                          <li class="page-item active">
                              <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item">
                              <a class="page-link page-link-btn" href="#"><i class="icon-angle-right"></i></a>
                          </li>
                      </ul>
                  </nav>
              </div>
              <!-- End .col-lg-9 -->

              <div class="sidebar-overlay"></div>
              <aside class="sidebar-shop col-lg-3 order-lg-first mobile-sidebar">
                        <div class="sidebar-wrapper">
                            <div class="widget">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-body-2" role="button" aria-expanded="true" aria-controls="widget-body-2">ALL Category</a>
                                </h3>
                        
                                <div class="collapse show" id="widget-body-2">
                                    <div class="widget-body">
                                        <ul class="cat-list">
                                            {% if category %}
                                                <li>
                                                    <a href="#widget-category-{{ category.id }}" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="widget-category-{{ category.id }}">
                                                        {{ category.title }}
                                                        <span class="products-count">({{ category.sub_category_set.count }})</span>
                                                        <span class="toggle"></span>
                                                    </a>
                                                    <div class="collapse show" id="widget-category-{{ category.id }}">
                                                        <ul class="cat-sublist">
                                                            {% for subcategory in category.sub_category_set.all %}
                                                                <li>
                                                                    <a href="{% url 'category' main_category.slug category.slug subcategory.slug %}">
                                                                        {{ subcategory.title }}
                                                                        <span class="products-count">(1)</span>
                                                                    </a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </li>
                                            {% else %}
                                                {% for main_category in main_categories %}
                                                    <li>
                                                        <a href="#widget-category-{{ main_category.id }}" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="widget-category-{{ main_category.id }}">
                                                            <strong>{{ main_category.title }}</strong>
                                                            <span class="products-count">({{ main_category.category_set.count }})</span>
                                                            <span class="toggle"></span>
                                                        </a>
                                                        <div class="collapse" id="widget-category-{{ main_category.id }}">
                                                            <ul class="cat-sublist">
                                                                {% for category in main_category.category_set.all %}
                                                                    <li>
                                                                        <a href="#widget-category-{{ category.id }}" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="widget-category-{{ category.id }}">
                                                                            {{ category.title }}
                                                                            <span class="products-count">({{ category.sub_category_set.count }})</span>
                                                                            <span class="toggle"></span>
                                                                        </a>
                                                                        <div class="collapse" id="widget-category-{{ category.id }}">
                                                                            <ul class="cat-sublist">
                                                                                {% for subcategory in category.sub_category_set.all %}
                                                                                    <li>
                                                                                        <a href="{% url 'category' main_category.slug category.slug subcategory.slug %}">
                                                                                            {{ subcategory.title }}
                                                                                            <span class="products-count">(1)</span>
                                                                                        </a>
                                                                                    </li>
                                                                                {% endfor %}
                                                                            </ul>
                                                                        </div>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                        
                                    </div>
                                    <!-- End .widget-body -->
                                </div>
                                
                                <!-- End .collapse -->
                            </div>
                            <!-- End .widget -->
                            <div class="widget">
                                <div class="widget widget-price">
                                    <h3 class="widget-title">
                                        <a data-toggle="collapse" href="#widget-body-3" role="button" aria-expanded="true" aria-controls="widget-body-3">Filter By Price</a>
                                    </h3>
                            
                                    <div class="collapse show" id="widget-body-3">
                                        <div class="widget-body">
                                            <form action="#">
                                                <div class="price-slider-wrapper">
                                                    <div id="price-slider" class="noUi-target noUi-ltr noUi-horizontal">
                                                        <!-- Price Slider -->
                                                    </div>
                                                </div>
                            
                                                <div class="filter-price-action d-flex align-items-center justify-content-between flex-wrap pb-0">
                                                    <div class="filter-price-text mb-1 mb-xl-0">
                                                        Price:
                                                        <span id="filter-price-range" class="mr-3">$0 - $1000</span>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary font2 mb-1 mb-xl-0">Filter</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="widget widget-size">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-body-5" role="button" aria-expanded="true" aria-controls="widget-body-5">Sizes</a>
                                </h3>

                                <div class="collapse show" id="widget-body-5">
                                    <div class="widget-body">
                                        <ul class="cat-list">
                                            <li><a href="#">L</a></li>
                                            <li><a href="#">M</a></li>
                                            <li><a href="#">S</a></li>
                                            <li><a href="#">X</a></li>
                                        </ul>
                                    </div>
                                    <!-- End .widget-body -->
                                </div>
                                <!-- End .collapse -->
                            </div>
                            <!-- End .widget -->

                        <div class="widget widget-color">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-body-6" role="button" aria-expanded="true" aria-controls="widget-body-6">Color</a>
                            </h3>

                            <div class="collapse show" id="widget-body-6">
                                <div class="widget-body">
                                    <ul class="config-swatch-list flex-column">
                                        <li>
                                            <a href="#" style="background-color: #6085a5;"></a>
                                            <span>Indego</span>
                                        </li>
                                        <li>
                                            <a href="#" style="background-color: #333;"></a>
                                            <span>Black</span>
                                        </li>
                                        <li>
                                            <a href="#" style="background-color: #0188cc;"></a>
                                            <span>Blue</span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End .widget-body -->
                            </div>
                            <!-- End .collapse -->
                        </div>
                        <!-- End .widget -->

                      <div class="widget widget-featured mb-0">
                          <h3 class="widget-title">Featured Products</h3>

                          <div class="widget-body">
                              <div class="owl-carousel widget-featured-products">
                                  <div class="featured-col">
                                      <div class="product-default left-details product-widget">
                                          <figure>
                                              <a href="demo29-product.html">
                                                  <img src="assets/images/demoes/demo29/products/grey/dining/dining(3).jpg" width="75" height="75" alt="product" />
                                              </a>
                                          </figure>
                                          <div class="product-details">
                                              <h3 class="product-title"> <a href="demo29-product.html">Product
                                                      Short Name</a> </h3>
                                              <div class="ratings-container">
                                                  <div class="product-ratings">
                                                      <span class="ratings" style="width:100%"></span>
                                                      <!-- End .ratings -->
                                                      <span class="tooltiptext tooltip-top"></span>
                                                  </div>
                                                  <!-- End .product-ratings -->
                                              </div>
                                              <!-- End .product-container -->
                                              <div class="price-box">
                                                  <span class="product-price">$49.00</span>
                                              </div>
                                              <!-- End .price-box -->
                                          </div>
                                          <!-- End .product-details -->
                                      </div>
                                      <div class="product-default left-details product-widget">
                                          <figure>
                                              <a href="demo29-product.html">
                                                  <img src="assets/images/demoes/demo29/products/grey/bedroom/bedroom(4).jpg" width="75" height="75" alt="product" />
                                              </a>
                                          </figure>
                                          <div class="product-details">
                                              <h3 class="product-title"> <a href="demo29-product.html">Product
                                                      Short Name</a> </h3>
                                              <div class="ratings-container">
                                                  <div class="product-ratings">
                                                      <span class="ratings" style="width:100%"></span>
                                                      <!-- End .ratings -->
                                                      <span class="tooltiptext tooltip-top"></span>
                                                  </div>
                                                  <!-- End .product-ratings -->
                                              </div>
                                              <!-- End .product-container -->
                                              <div class="price-box">
                                                  <span class="product-price">$49.00</span>
                                              </div>
                                              <!-- End .price-box -->
                                          </div>
                                          <!-- End .product-details -->
                                      </div>
                                      <div class="product-default left-details product-widget">
                                          <figure>
                                              <a href="demo29-product.html">
                                                  <img src="assets/images/demoes/demo29/products/grey/kitchen/kitchen(1).jpg" width="75" height="75" alt="product" />
                                              </a>
                                          </figure>
                                          <div class="product-details">
                                              <h3 class="product-title"> <a href="demo29-product.html">Product
                                                      Short Name</a> </h3>
                                              <div class="ratings-container">
                                                  <div class="product-ratings">
                                                      <span class="ratings" style="width:100%"></span>
                                                      <!-- End .ratings -->
                                                      <span class="tooltiptext tooltip-top"></span>
                                                  </div>
                                                  <!-- End .product-ratings -->
                                              </div>
                                              <!-- End .product-container -->
                                              <div class="price-box">
                                                  <span class="product-price">$49.00</span>
                                              </div>
                                              <!-- End .price-box -->
                                          </div>
                                          <!-- End .product-details -->
                                      </div>
                                  </div>
                                  <!-- End .featured-col -->

                                  <div class="featured-col">
                                      <div class="product-default left-details product-widget">
                                          <figure>
                                              <a href="demo29-product.html">
                                                  <img src="assets/images/demoes/demo29/products/grey/kitchen/kitchen(1).jpg" width="75" height="75" alt="product" />
                                              </a>
                                          </figure>
                                          <div class="product-details">
                                              <h3 class="product-title"> <a href="demo29-product.html">Product
                                                      Short Name</a> </h3>
                                              <div class="ratings-container">
                                                  <div class="product-ratings">
                                                      <span class="ratings" style="width:100%"></span>
                                                      <!-- End .ratings -->
                                                      <span class="tooltiptext tooltip-top"></span>
                                                  </div>
                                                  <!-- End .product-ratings -->
                                              </div>
                                              <!-- End .product-container -->
                                              <div class="price-box">
                                                  <span class="product-price">$49.00</span>
                                              </div>
                                              <!-- End .price-box -->
                                          </div>
                                          <!-- End .product-details -->
                                      </div>
                                      <div class="product-default left-details product-widget">
                                          <figure>
                                              <a href="demo29-product.html">
                                                  <img src="assets/images/demoes/demo29/products/grey/dining/dining(3).jpg" width="75" height="75" alt="product" />
                                              </a>
                                          </figure>
                                          <div class="product-details">
                                              <h3 class="product-title"> <a href="demo29-product.html">Product
                                                      Short Name</a> </h3>
                                              <div class="ratings-container">
                                                  <div class="product-ratings">
                                                      <span class="ratings" style="width:100%"></span>
                                                      <!-- End .ratings -->
                                                      <span class="tooltiptext tooltip-top"></span>
                                                  </div>
                                                  <!-- End .product-ratings -->
                                              </div>
                                              <!-- End .product-container -->
                                              <div class="price-box">
                                                  <span class="product-price">$49.00</span>
                                              </div>
                                              <!-- End .price-box -->
                                          </div>
                                          <!-- End .product-details -->
                                      </div>
                                      <div class="product-default left-details product-widget">
                                          <figure>
                                              <a href="demo29-product.html">
                                                  <img src="assets/images/demoes/demo29/products/grey/bedroom/bedroom(4).jpg" width="75" height="75" alt="product" />
                                              </a>
                                          </figure>
                                          <div class="product-details">
                                              <h3 class="product-title"> <a href="demo29-product.html">Product
                                                      Short Name</a> </h3>
                                              <div class="ratings-container">
                                                  <div class="product-ratings">
                                                      <span class="ratings" style="width:100%"></span>
                                                      <!-- End .ratings -->
                                                      <span class="tooltiptext tooltip-top"></span>
                                                  </div>
                                                  <!-- End .product-ratings -->
                                              </div>
                                              <!-- End .product-container -->
                                              <div class="price-box">
                                                  <span class="product-price">$49.00</span>
                                              </div>
                                              <!-- End .price-box -->
                                          </div>
                                          <!-- End .product-details -->
                                      </div>
                                  </div>
                                  <!-- End .featured-col -->
                              </div>
                              <!-- End .widget-featured-slider -->
                          </div>
                          <!-- End .widget-body -->
                      </div>
                      <!-- End .widget -->
                  </div>
                  <!-- End .sidebar-wrapper -->
              </aside>
              <!-- End .col-lg-3 -->
          </div>
          <!-- End .row -->
      </div>
      <!-- End .container -->

      <div class="mb-2"></div>
      <!-- margin -->
    </main>
    <!-- End .main -->

{% endblock %}