
{% load static %}

        <footer class="footer">
            <div class="partners-panel">
                <div class="container">
                    <div class="partners-carousel owl-carousel owl-theme text-center" data-toggle="owl" data-owl-options="{
                        'loop' : true,
                        'nav' : false,
                        'dots': false,
                        'margin' : 20,
                        'autoHeight': false,
                        'autoplay': true,
                        'autoplayTimeout': 3000,
                        'responsive': {
                        '0': {
                            'items': 2
                        },
                        '576': {
                            'items': 3
                        },
                        '991': {
                            'items': 4
                        },
                        '1200': {
                            'items': 5
                        },
                        '1400': {
                            'items': 6,
                            'margin': 0
                        }
                        }
                    }">
                        <img src="{% static 'images/demoes/demo29/logos/1.png' %}" width="148" height="57" alt="logo">
                        <img src="{% static 'images/demoes/demo29/logos/2.png' %}" width="148" height="57" alt="logo">
                        <img src="{% static 'images/demoes/demo29/logos/3.png' %}" width="148" height="57" alt="logo">
                        <img src="{% static 'images/demoes/demo29/logos/4.png' %}" width="148" height="57" alt="logo">
                        <img src="{% static 'images/demoes/demo29/logos/5.png' %}" width="148" height="57" alt="logo">
                        <img src="{% static 'images/demoes/demo29/logos/6.png' %}" width="148" height="57" alt="logo">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="footer-middle row">
                    <div class="col-lg-5 col-xl-6">
                        <div class="row mt-2" style="display: flex; align-items: center;">
                            <div class="col-md-4 col-lg-12 col-xl-4">
                                <a href="demo29.html" class="logo-footer"><img src="{% static 'images/logo-black.png' %}" width="112" height="44" alt="logo" />
                                </a>
                            </div>
                            <div class="col-md-8 col-lg-12 col-xl-8">
                                <div class="social-link">
                                    <h4>Questions</h4>
                                    <div class="links">
                                        <a href="#" class="phone_link">1-888-123-456</a>
                                        <hr class="vertical">
                                        <div class="social-icons">
                                            <a href="#" class="social-icon social-facebook" target="_blank" title="Facebook">
                                                <i class="icon-facebook"></i>
                                            </a>
                                            <a href="#" class="social-icon social-twitter" target="_blank" title="Twitter">
                                                <i class="icon-twitter"></i>
                                            </a>
                                            <a href="#" class="social-icon social-instagram" target="_blank" title="instagram">
                                                <i class="icon-instagram"></i>
                                            </a>

                                            <a href="#" class="social-icon social-linkedin" target="_blank" title="Linkedin">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-6">
                        <div class="row">
                            <div class="col-md-4 col-lg-4">
                                <div class="widget">
                                    <h3 class="widget-title">Account</h3>
                                    <div class="widget-content">
                                        <ul>
                                            <li><a href="dashboard.html">My Account</a></li>
                                            <li><a href="#">Track Your Order</a></li>
                                            <li><a href="#">Payment Methods</a></li>
                                            <li><a href="#">Shipping Guide</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="widget">
                                    <h3 class="widget-title">About</h3>
                                    <div class="widget-content">
                                        <ul>
                                            <li><a href="about.html">About Porto</a></li>
                                            <li><a href="#">Our Guarantees</a></li>
                                            <li><a href="#">Terms And Conditions</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="widget">
                                    <h3 class="widget-title">Features</h3>
                                    <div class="widget-content">
                                        <ul>
                                            <li><a href="#">Powerful Admin Panel</a></li>
                                            <li><a href="#">Mobile & Retina Optimized</a></li>
                                            <li><a href="#">Super Fast Html Template</a></li>
                                            <li><a href="#">1st Fully working Ajax Theme</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom d-lg-flex align-items-center">
                    <p class="footer-copyright font2 mb-0">© copyright 2021. All Rights Reserved.</p>
                    <img class="ml-lg-auto ml-0 mt-lg-0 mt-1" src="{% static 'images/demoes/demo29/payments_long.png' %}" width="255" height="22" alt="payment">
                </div>
            </div>
        </footer>
        <!-- End .footer -->
    </div>